@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');

:root {
    --primary-color:#023047;
    --secondary-color:#8ECAE6;
    --accent1-color:#FFB703;
    --accent2-color:#FB8500;

    --heading-font:'Permanent Marker';
    --paragraph-font:Montserrat;

    --nav-background-color: #219EBC;
    --nav-link-color: #023047;
    --nav-hover-link-color: #FFB703;
    --nav-hover-background-color: #ffffff;
}

body {
    font-family: var(--paragraph-font);
    width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}